DATABASE_URL=postgresql://admin:PASSWORD@dspn-projeto-db-instance.XXXX.us-east-1.rds.amazonaws.com:5432/ingressos
REDIS_URL=redis://dspn-projeto-cache.XXXX.ng.0001.use1.cache.amazonaws.com:6379
S3_BUCKET=backend-309843684442-us-east-1-an
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:309843684442:dspn-projeto-sns
AWS_REGION=us-east-1
