DATABASE_URL=postgresql+psycopg://USUARIO:SENHA@ENDPOINT-RDS:5432/ingressos
REDIS_URL=redis://PRIMARY-ENDPOINT-REDIS:6379
S3_BUCKET=NOME-DO-BUCKET-BACKEND
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:CONTA:dspn-projeto-sns
DYNAMO_TABLE=dspn-projeto-dynamo-logs
ADMIN_TOKEN=TROQUE_ESTA_SENHA
AWS_REGION=us-east-1
